<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row">
        <td>Sirius 1</td>
        <td>Communication</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2007-11-17</td>
    </tr>
    <tr class="data-row">
        <td>Vanguard 1</td>
        <td>Probe</td>
        <td>HIGH</td>
        <td>LOW</td>
        <td>1958-03-17</td>
    </tr>
    <tr class="data-row">
        <td>SNAP 10-A</td>
        <td>Space Station</td>
        <td>false</td>
        <td>HIGH</td>
        <td>1965-11-01</td>
    </tr>
    <tr class="data-row">
        <td>Hubble Space Telescope</td>
        <td>Telescope</td>
        <td>true</td>
        <td>LOW</td>
        <td>1990-05-25</td>
    </tr>
    <tr class="data-row">
        <td>Envistat</td>
        <td>Prove</td>
        <td>false</td>
        <td>LOW</td>
        <td>2002-03-01</td>
    </tr>
    <tr class="data-row">
        <td>Thermal Blanket</td>
        <td>Space Debris</td>
        <td>false</td>
        <td>LOW</td>
        <td>N/A</td>
    <tr class="data-row">
        <td>Morelos III</td>
        <td>Communication</td>
        <td>true</td>
        <td>LOW</td>
        <td>2012-12-19</td>
    <tr class="data-row">
        <td>IIR-M</td>
        <td>Positioning</td>
        <td>true</td>
        <td>LOW</td>
        <td>2007-08-17</td>
    <tr class="data-row">
        <td>ISS</td>
        <td>Space Station</td>
        <td>true</td>
        <td>LOW</td>
        <td>1998-11-20</td>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

